.nenajdene {
    background-image: url(../../../public/images/Background.jpg);
    background-size: contain;
    height: 100vw;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgb(99, 99, 99) ;
}

.nenajdeneImg {
    margin-top: 8%;
    bottom: 40px;
    height: 400px;
}

.nenajdeneNazov {
    font-weight: 600;
    font-size: 72px;
}

.nenajdeneText {
    margin-top: 20px;
    font-weight: 300;
    font-size: 35px;
}