body {
    overflow: hidden;
}

.registraciaWrapper {
    background-image: url(../../../public/images/pozadie-login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;    
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.registracia {
    animation: 3s anim-lineUp ease-out;
    flex: 50%;
    width: 35vw;
    padding: 80px;
    text-align: center;
    color: white;
}

.registracia h1 {
    font-size: 70px;
}

.registracia p {
    font-size: 40px;
    font-weight: 300;
}

.registraciaIllustracia img {
    animation: 3s anim-lineUp ease-out;
    margin-top: 80px;
}

.registraciaItem {
    padding-top: 40px;
}

/*ANIMÁCIE*/

@keyframes zvacsenie {
    0%   {scale: 100%;}
    33%  {scale: 120%;}
    100% {scale: 100%;}
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}