.post {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
}
.postWrapper {
    padding: 10px;
}

.postHore {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postHoreVlavo {
    display: flex;
    align-items: center;
}

.postProfileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;    
}

.postMeno {
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
}

.postCas {
    font-style: 12px;
}

.postStred {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postDole {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postDoleVlavo {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postKomentarText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}