.blizkyPriatel {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.blizkyPriatelImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.blizkyPriatelMeno {
    position:fixed;
    margin-top: 4px;
    font-size: 20px;
}

.blizkyPriatel:hover {
    cursor: pointer;
}