.rightbar {
    animation: 3s anim-lineUpRightbar ease-out;
    flex: 3;
    height: 100vh;
    background-color: white;
    padding: 20px;
}

@keyframes anim-lineUpRightbar {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}