.leftbar {
    flex: 1.7;
    height: 100vh;
    animation: 3s anim-lineUpDomov ease-out;
    overflow: scroll;
}

.logoDomov{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
}

.menuNazovWrapper {
    display: flex;
    margin-left: 10px;
}

.menuIcon {
    flex: 1;
    position: relative;
    margin-top: 2px;
}

.menuNazov{
    flex: 7;
}

.break {
    width: 90%;   
    margin: auto;
    margin-top: 20px;
}

.blizkiPriateliaWrapper {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blizkiPriateliaIcon {
    flex: 1;
    position: relative;
    margin-top: 2px;
}

.blizkiPriateliaNazov{
    flex: 7;
}

.blizkiPriatelia {
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

/*ANIMÁCIE*/

@keyframes anim-lineUpDomov {
    0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}