.leftbar {
    flex: 2;
    height: 100vh;
    animation: 3s anim-lineUpDomov ease-out;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}

.logoDomov{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu {
    padding: 0;
    margin: 0;
    margin-top: 10%;
    list-style: none;
}

.menuNazovWrapper {
    display: flex;
    margin-left: 10px;
}

.menuIcon {
    flex: 1;
    position: relative;
    margin-top: 2px;
}

.menuNazov{
    flex: 7;
    margin-bottom: 20px;
}

.menuItem {
    align-items: center;
    position: relative;
    padding-left: 20%;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

.menuItem li {
    margin-left: 30px;
    display: flex;
}

.menuItemIcon {
    flex: 1;
    color: #0087B9;
}

.menuItemIcon:hover {
    color: white;
    flex: 1;
}

.menuItemText {
    flex: 5;
    margin-bottom: 2px;
}

.menuItemTextLink {
    text-decoration: none;
    color: rgb(97, 97, 97);
}


.menuItem::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.menuItem:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.menuItem::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}

.menuItem:hover {
    cursor: pointer;
}

.break {
    width: 90%;   
    margin: auto;
    margin-top: 20px;
}

.blizkiPriateliaWrapper {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blizkiPriateliaIcon {
    flex: 1;
    position: relative;
    margin-top: 2px;
}

.blizkiPriateliaNazov{
    flex: 7;
}

.blizkiPriatelia {
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

/*ANIMÁCIE*/

@keyframes zvacsenieDomov {
    0%   {scale: 100%;}
    33%  {scale: 120%;}
    100% {scale: 100%;}
}

@keyframes anim-lineUpDomov {
    0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

@media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
}